pre-commit == 3.8.0
rich >= 13.5
versioningit >= 3.1.2, < 4
Jinja2 == 3.1.4
ActionMan == 0.0.0.dev24
ControlMan == 0.0.0.dev324
ConventionalCommits == 0.0.0.dev25
GitHub-Contexts == 0.0.0.dev8
LoggerMan == 0.0.0.dev55
MDit == 0.0.0.dev26
HTMP == 0.0.0.dev5
PyLinks == 0.0.0.dev39
PySyntax == 0.0.0.dev3
VersionMan == 0.0.0.dev248
GitTidy == 0.0.0.dev52
PkgData == 0.0.0.dev5
PyShellMan == 0.0.0.dev16
PySerials == 0.0.0.dev29
FileEx == 0.0.0.dev1
ANSI-SGR == 0.0.0.dev10
PyColorIT == 0.0.0.dev8